services:
  - type: web
    name: projectx-n8n
    env: docker
    image:
      url: docker.n8n.io/n8nio/n8n:latest
    plan: free
    envVars:
      - key: N8N_PORT
        value: 10000
      - key: N8N_PROTOCOL
        value: https
      - key: WEBHOOK_URL
        sync: false
      - key: N8N_EDITOR_BASE_URL
        sync: false
      - key: EXECUTIONS_DATA_PRUNE
        value: true
      - key: EXECUTIONS_DATA_MAX_AGE
        value: 168
      - key: GENERIC_TIMEZONE
        value: Asia/Kolkata
      - key: N8N_BASIC_AUTH_ACTIVE
        value: true
      - key: N8N_BASIC_AUTH_USER
        value: admin
      - key: N8N_BASIC_AUTH_PASSWORD
        generateValue: true
